/* @import url('https://fonts.googleapis.com/css?family=Nanum Gothic'); */

/* body { */
/*   font-family: 'Nanum Gothic', sans-serif; */
/* } */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); */

/* body { */
/*   font-family: 'Noto Sans KR', sans-serif; */
/* } */

/* @import url('https://fonts.googleapis.com/css?family=Gothic A1'); */

/* body { */
/*   font-family: 'Gothic A1', sans-serif; */
/* } */

@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

body {
  font-family: 'NanumSquareRound',sans-serif;
}


/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Square&display=swap'); */

/* body { */
/*   font-family: 'Nanum Square', sans-serif; */
/* } */


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
  overflow-y: scroll;  /* Force vertical scrollbar to be always present */
}

/* For Windows Chrome, Internet Explorer, Edge */
::-webkit-scrollbar {
  width: 0px;  /* Set width to 0 to make scrollbar invisible */
}

/* For Firefox */
html {
  scrollbar-width: none;  /* Make scrollbar invisible */
}
